/*THIRD PAGE*/
#snapchat{
    background-image:url(../img/snapchat.jpg);
    background-size:12px;
}

#linkedin{
    background-image:url(../img/linkedin.jpg);
    background-size:12px;
}

#instagram{
    background-image:url(../img/instagram.jpg);
    background-size:12px;
}

#twitter{
    background-image:url(../img/twitter.jpg);
    background-size:12px;
}

#facebook{
    background-image:url(../img/facebook.png);
    background-size:12px;
}

#messenger{
    background-image:url(../img/messenger.jpg);
    background-size:12px;
}

#discord{
    background-image:url(../img/discord.png);
    background-size:12px;
}

#slack{
    background-image:url(../img/slack.png);
    background-size:12px;
}

#tiktok{
    background-image:url(../img/tiktok.jpg);
    background-size:12px;
}

#ytb{
    background-image:url(../img/youtube.png);
    background-size:61px;
}

#battlenet{
    background-image:url(../img/battlenet.png);
    background-size:12px;
}

#molotov{
    background-image:url(../img/molotov.png);
    background-size:61px;
}

#gmail{
    background-image:url(../img/gmail.png);
    background-size:61px;
}

#amazon{
    background-image:url(../img/amazon.png);
    background-size:61px;
}

#ubereats{
    background-image:url(../img/ubereats.png);
    background-size:61px;
}

#wish{
    background-image:url(../img/wish.png);
    background-size:61px;
}

#unidays{
    background-image:url(../img/unidays.jpg );
    background-size:61px;
}

#basicfit{
    background-image:url(../img/basicfit.png);
    background-size:61px;
}

#netflix{
    background-image:url(../img/netflix.png);
    background-size:61px;
}

#tabs{
    background-image:url(../img/tabs.png);
    background-size:61px;
}

#docs{
    background-image:url(../img/docs.png);
    background-size:61px;
}

#blablacar{
    background-image:url(../img/blablacar.png);
    background-size:61px;
}

#garageband{
    background-image:url(../img/garageband.png);
    background-size:61px;
}

#reportsplus{
    background-image:url(../img/reportsplus.png);
    background-size:61px;
}

#lalalab{
    background-image:url(../img/lalalab.png);
    background-size:61px;
}

#izly{
    background-image:url(../img/izly.png);
    background-size:61px;
}

#hangouts{
    background-image:url(../img/hangouts.png);
    background-size:61px;
}

#zenbus{
    background-image:url(../img/zenbus.png);
    background-size:61px;
}

#streetview{
    background-image:url(../img/streetview.png);
    background-size:61px;
}
#moovit{
    background-image:url(../img/moovit.png);
    background-size:61px;
}
#alibaba{
    background-image:url(../img/alibaba.png);
    background-size:61px;
}
#toogoodtogo{
    background-image:url(../img/toogoodtogo.png);
    background-size:61px;
}

/*FOOTER*/

#telephone{
    background-image:url(../img/telephone.png);
    background-size:61px;
}

#safari{
    background-image:url(../img/safari.png);
    background-size:61px;
}
#messages{
    background-image:url(../img/messages.png);
    background-size:61px;
}

#whatsapp{
    background-image:url(../img/whatsapp.png);
    background-size:61px;
}
