#screen{
    width:375px;
    height:667px;
    background-image:url('../img/background.JPG');
    background-size:510px;
    display:block;
    margin-left:auto;
    margin-right:auto;
    padding:3px;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight:650;
}

/*HEADER*/

#modeavion{
    width:15px;
    top:1px;
    float:left;
    position:relative;
    left:3px;
}

#currenttime{
    color:white;
    font-weight:bold;
    display:block;
    margin-left:auto;
    margin-right:auto;
    font-size:12px;
    width:30px;
    height:50px;
    margin-top:0;
    margin-bottom:0;
}

/*BATTERY*/

#batterie{
    position:relative;
    float:right;
    top:-51px;
    right:10px;
}

#batterieamm{
    color:white;
    font-weight:bold;
    margin-top:-10px;
    display:inline;
    margin-right:0px;
    font-size:12px;
    position:relative;
    top:-3px;
}

#battcont{                              /*resize because unproportionnal*/
    width:20px;
    height:10px;
    border: 1px solid white;
    border-radius:0.2em;
    display:inline-block;
    position:relative;
    top:-1px;
}

#battlvl{
    position:absolute;
    left:1px;
    width:9px;                         /*lower this att to lower the battery*/
    height:8px;
    background-color:white;
    border-radius:0.1em;
    margin-top:1px;
}

#battpin{                   /*resize in function of batterie size because unproportionnal*/
    position:absolute;
    left:53px;
    top: 8px;
    height:2px;
    border:1px solid white;
    border-radius:0em 0.1em 0.1em 0;
    display:inline;
}

.energyeco{
    background-color:yellow !important;
}

#header{
    height:40px;
}

/*APPS*/

.row{
    margin-bottom:20px;
}

.icon{
    width:60px;
    height:60px;
    border-radius:10px;
    display:inline-block;
    position:relative;
    left:38px;
    margin-right:14px;
}

.icon>label{
    position: absolute;
    top: 65px;
    width: 60px;
    text-align: center;
    color:white;
    font-size:11px;
}

.folderson{
    width: 12px;
    height: 12px;
    border-radius: 4px;
    left: 6px;
    position:relative;
    margin-right: 0px;
}

.folder>.row{
    margin-bottom: -3px;
    position: relative;
    left: 1px;
    top: 1px;
}
.folder{
    background-color:lightgray; 
}

#amis{
    top: -42px;
}
#socials{
    top:-6px;
}

/*SLIDER*/

#slide{
    width: 90px;
    height: 45px;
    position: relative;
    margin-left: 38%;
    top:5px;
}
#slide>div{
    background-color:gray;
    width:10px;
    height:10px;
    border-radius:50%;
    display:inline-block;
    margin-right:5px;
}
#slide>div:last-child{
    margin-right:0;
}

#slide>div.activeslide{
    background-color:white;
}

/*FOOTER*/

#footer{
    background-color: gray;
    height: 85px;
    width: 381px;
    margin-left: -3px;
}

#footer>.row{
    position:relative;
    top:12px;
}
#footer>.row:first-child{
    margin-left:3px;
}
